html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: #001010;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    padding: 2rem;
    border-radius: 1rem;
    background: #006666;
    max-width: 40vw;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; 
}

.text div {
    margin: 0;
}

#quote {
    font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
    .message {
        max-width: 90vw;
        margin: 0 30px;
    }
}
