html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: #131313;
    color: #efefef;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    user-select: none;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    padding: 1rem;
    border-radius: 1.25rem;
    background: #36393f;
    max-width: 30vw;
}

.text div {
    margin: 0.25rem 0;
}

#quote {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .message {
        max-width: 100vw;
        margin: 0 30px;
    }
}
